@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.titulo{
  font-family: 'Permanent Marker', cursive;
  font-size: 37px;
}

.titulo{
  font-family: 'Permanent Marker', cursive;
  font-size: 37px;
}

.colorm{
    color: red;
}

.ab{
    font-family: 'Kalam', cursive;
    font-style: italic;
}

.ww{
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-size: 15px;
    text-align: justify;
}

.we{
    font-family: 'Permanent Marker', cursive;
}

body::-webkit-scrollbar {
    width: 9px;             
  }
  
  body::-webkit-scrollbar-track {
    background: #212431;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #5b5c61;   
    border-radius: 2px;       
  }  


  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #202331;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

#ajuste-port{
  margin-left: 100px;
  margin-right: 200px;
  text-align: justify;
}
