
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Summer Blog</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">
  <link href="../static/css/style-b.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../static/img/4595683.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="#/">Mateus Santana</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class='bx bxl-discourse'></i>
          <a href="#" class="facebook"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav class="nav-menu">  
        <ul>
          <li class="active"><a href="#inicio"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
          <li><a href="#about"><i class="bx bx-user"></i> <span>Sobre</span></a></li>
          <li><a href="#skills"><i class="bx bx-file-blank"></i> <span>Habilidades</span></a></li>
          <li><a href="#resume"><i class="bx bx-book-content"></i> Certificados</a></li>
          <li><a href="#portfolio"><i class="bx bx-server"></i> Portifolio</a></li>
          <li><a href="#contact"><i class="bx bx-envelope"></i> Contatos</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <section id="inicio" class="inicio"></section>
    <div class="hero-container" data-aos="fade-in">
      <h1>Summer<r class="colorm">.blog</r></h1>
      <span class="text-white text-justfy">Olá, sou <r class="colorm">desenvolvedor
         de software<br> e web </r>e atualmente estou cursando <br> o terceiro
         ano do <r class="colorm">ensino medio.</r></span>
      <p>I'm <span class="typed" class="colorm"  data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p>
    </div>
    <br><br>
    <div id="nav-menu">


    <a class="neon-bt" href="#about">
      

      

      <span></span>

      <span></span>

      <span></span>

      <span></span>
 
      <k class="text-white"><i class="bi bi-caret-right-fill"></i>Mateus</k> santana
    
    </a>
  </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="facts" class="facts">
     <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2 class="wq">Sobre</h2>
          <p></p>
        </div>
        <p class="ww">Sempre tive uma atração pela carreira de desevolvimento de software,
          ha 2 Anos que eu fiz o meu primeiro curso de desenvolvimento web, e foi muito bom pois 
          a partir disso fui encorajado a iniciar os estudos, há 6 meses que eu conclui o curso de 
          desenvolvimento de software com python e depois desse curso eu fui aprimorando meus 
          conhecimentos.</p>
        <div class="row">

          <div class="col-lg-4" data-aos="fade-right">
            <img src="../static/img/4595683.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3 class="ww">Desenvolvedor</h3>
            <p class="wq">
              STATUS: Estudando
           </p>
           <br>
            <div class="row" data-aos="fade-left">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Nome:</strong> <n class="wq">Mateus</n></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Idade:</strong> <n class="wq">17 Anos </n></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Cidade:</strong> <n class="wq">Jussari </n></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Estado:</strong> <n class="wq"> Bahia </n></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Niver:</strong> <n class="wq">25 De Setembro De 2004 </n></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Hobby:</strong> <n class="wq">Viagens </n></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Playlist:</strong><a class="Text-white" href="Resso.com"><n class="wq"> Link</n></a></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Experiência: </strong><n class="wq"> 0% </n></li>
                </ul>
              </div>
            </div>
            <br>
            <p class="ww" id="letra-text"> Atualmente estou estudando javascript no front-end e no back-end e 
              framework flask / django, bootstrap e querendo iniciar na área mobile com python / java alen de ter um bom code em 
              c++/c e em alguns framework mobile.</p>
          </div>
        </div>

      </div>
    <br>
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">232</span>
              <p><strong>Clientes Satisfeitos</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">521</span>
              <p><strong>Projects</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">9</span>
              <p><strong>Horas Disponiveis</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">1</span>
              <p><strong>Equipe</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills ">
      <div class="container">

        <div class="section-title">
          <h2>Habilidades</h2>
          <p class="wq">
          </p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill"><n class="wq">HTML </n><i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill"><n class="wq"> CSS </n><i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill"><n class="wq"> JavaScript </n><i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill"><n class="wq"> Python </n><i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill"><n class="wq"> </n>C++ </n><i class="val">20%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill"><n class="wq"> </n>Photoshop </n><i class="val">68%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">
        
        <div class="section-title">
          <h2>Certificados</h2>
          <p class="wq">
          </p>
        </div>
            <div class="resume-item">
              <h4><b class="wq">Dev. Software </b> </h4>
              <h5><b class="ab">2019 - 2021</b></h5>
              <p><em><b class="wq">Serviço Tecnologico Digital</b></em></p>
            </div>
            <div class="resume-item">
              <h4><b class="wq">Dev. Web</b></h4>
              <h5><b class="ab">2021 - 2022</b></h5>
              <p><em><b class="wq">Serviço Nacional De Aprendizagem Comercial</b></em></p>
            </div>
          </div>
         
          </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active"><b class="wq">All</b></li>
              <li data-filter=".filter-app"><b class="wq">App</b></li>
              <li data-filter=".filter-web"><b class="wq">Web</b></li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contato</h2>
          </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4><b class="wq">Localização:</b></h4>
                <p><b class="wq">Itabuna, Colorado, BR</b></p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4><b class="wq">Email:</b></h4>
                <p><b class="wq">info@example.com</b></p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4><b class="wq">Telefone:</b></h4>
                <p><b class="wq">+73 9755 6391</b></p>
              </div>

              <iframe src="https://maps.google.com/maps?q=Intabuna&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="../static/forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name"><b class="wq">Seu Nome</b></label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name"><b class="wq">Seu Enail</b></label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name"><b class="wq">Assunto</b></label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name"><b class="wq">Mensagem</b></label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading"><b class="wq"> Carregando</b></div>
                <div class="error-message"><b class="wq"> Sua Mensagem Nao Foi Enviada!</b></div>
                <div class="sent-message"><b class="wq"> Sua Mensagem Foi Enviada, Obrigado!</b></div>
              </div>
              <div class="text-center"><button type="submit"><b class="wq">Enviar</b></button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
    <br>
        <!-- ======= Testimonials Section ======= -->
    <section id="testimonialss" class="testimonialss">
      
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Summer.blog <strong><span>2022</span></strong>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/vendor/counterup/counterup.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/venobox/venobox.min.js"></script>
  <script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/vendor/typed.js/typed.min.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>
