<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Summer Blog</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

          <!--=============== FAVICON ===============-->
          <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
        
          <!--=============== REMIX ICONS ===============-->
          <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- Vendor CSS Files --

  <!-- Template Main CSS File -->
  <link href="../static/css/satyle-projects.css" rel="stylesheet">
  <link href="../static/css/style-b.css" rel="stylesheet">
</head>
<body>
    
    <!--=============== HEADER ===============-->
    <header class="profile container">
        <!-- Theme button -->
        <i class="ri-moon-line change-theme" id="theme-button"></i>
    <center>
        <img src="../static/img/4595683.jpg" alt="" height="120px" width="120px" class="profiile">
    </center>

<br>
                

            </div>

    </header>
    <center>
        <h2 class="titulo">Projetos</h2>
    </center>

    <!--=============== MAIN ===============-->
    <main class="main">
        <section class="filters container">
            <!--=============== FILTERS TABS ===============-->

<br>
            <div class="filters__sections">
                <!--=============== PROJECTS ===============-->
                <div class="projects__content grid filters__active" data-content id="projects">
                    <article class="projects__card">
                        <!-- Insert your image in a rectangular format (Ex: 600 x 400, 1000 x 800, 1200 x 1000, etc) -->
                        <img src="../static/img/portfolio/portfolio-1.jpg" alt="" class="projects__img">

                        <div class="projects__modal">
                            <div>
                                <span class="projects__subtitle">Web</span>
                                <h3 class="projects__title">Cafeteria</h3>
                                <a href="#" class="projects__button button button__small">
                                    <b>Seguir</b>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="../static/img/portfolio/portfolio-2.jpg" alt="" class="projects__img">

                        <div class="projects__modal">
                            <div>
                                <span class="projects__subtitle">Web</span>
                                <h3 class="projects__title">Perfumaria</h3>
                                <a href="#" class="projects__button button button__small">
                                    <b>Seguir</b>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="../static/img/portfolio/portfolio-3.jpg" alt="" class="projects__img">

                        <div class="projects__modal">
                            <div>
                                <span class="projects__subtitle">Movel</span>
                                <h3 class="projects__title">industia</h3>
                                <a href="#" class="projects__button button button__small">
                                    <b>Seguir</b>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="../static/img/portfolio/portfolio-4.jpg" alt="" class="projects__img">

                        <div class="projects__modal">
                            <div>
                                <span class="projects__subtitle">Movel</span>
                                <h3 class="projects__title">Agricultura</h3>
                                <a href="#" class="projects__button button button__small">
                                    <b>Seguir</b>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>

                <!--=============== SKILLS ===============-->
               
    </main>

    <!--=============== FOOTER ===============-->
    <footer class="footer container">
        <span class="footer__copy">
            <b class="weee">&#169; 2020-2021</b>
        </span>
    </footer>
     <!-- Vendor JS Files -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/vendor/counterup/counterup.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/venobox/venobox.min.js"></script>
  <script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/vendor/typed.js/typed.min.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main-projects.js"></script>
  </body>
</html>
